.gallery-element__caption-name {
    padding: 25px 15px 31px 21px;
    /*На мобильной версии отступы такие-же, откуда к концу сайта получается такой разлет, ума не приложу.*/
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 768px) {
    .gallery-element__caption-name {
        padding-bottom: 25px;
        /*отступ в макете 31px, пришлось изменить на 25px. В противном случае к футеру сайта перекос был очень большой*/
    }
}