.gallery-element__caption-name {
    padding: 25px 15px 20px 21px;
    /*Чтобы убрать разлет между элементами, паддинги пришлось подбирать вручную, чтобы соответствовали макету*/
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 768px) {
    .gallery-element__caption-name {
        padding-bottom: 26px;
        /*отступ в макете 31px, пришлось изменить на 30px. В противном случае к футеру сайта перекос был очень большой*/
    }
}