.photo-gallery {
    margin-top: 47px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 17px;
    grid-row-gap: 20px;
}

@media (max-width: 320px) {
    .photo-gallery {
        margin-top: 36px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0;
        justify-items: center;
    }
}