.popup-photo__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}


/*Этот блок нужен для реализации плавного открытия и закрытия попап. Без него не смог придумать как это сделать. Плавность работает
но при закрытии элемента, стили выравнивания отключались и элемент смещался в левый угол.Это было видно и не особо радовало*/