.profile {
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    grid-column-gap: 30px;
    align-items: center;
    position: relative;
}

@media (max-width: 980px) {
    .profile {
        margin: 0 auto;
        max-width: 90%;
    }
}

@media (max-width: 750px) {
    .profile {
        max-width: 282px;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        padding-left: 0;
        justify-content: center;
        justify-items: center;
    }
}