.profile__info-button {
    border: #fff solid 1px;
    padding: 7px;
    opacity: 1;
    transition: 1s;
}

.profile__info-button:hover {
    opacity: 0.6;
    transition: 1s;
}

@media (max-width: 750px) {
    .profile__info-button {
        width: 5.5px;
        height: 5.5px;
        padding: 5px;
    }
}