.header__logo {
    padding-bottom: 41px;
    opacity: 1;
    transition: 2s;
}

.header__logo:hover {
    opacity: 0;
    transition: 2s;
}

@media (max-width: 320px) {
    .header__logo {
        width: 104px;
        height: 24px;
        padding: 0 0 31.6px 27px;
    }
}