    .profile__avatar-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 120px;
        min-height: 120px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .profile__avatar-wrap:hover .profile__avatar-wrap-edit {
        opacity: 1;
        cursor: pointer;
    }
    
    .profile__avatar-wrap:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    @media(max-width:750px) {
        .profile__avatar-wrap {
            top: 0;
            left: 80px;
        }
    }