.popup__form-line {
    position: relative;
    height: 1px;
    border: 0;
    width: 358px;
    margin: 0 auto 30px;
    background-color: black;
    opacity: 0.2;
}

@media (max-width: 500px) {
    .popup__form-line {
        width: 238px;
    }
}