.popup__form-input-error {
    color: white;
    align-self: center;
    font-size: 12px;
    line-height: 15px;
    min-height: 34px;
    max-width: 350px;
}

@media (max-width:500px) {
    .popup__form-input-error {
        font-size: 10px;
        line-height: 15px;
        max-width: 242px;
    }
}


/* если сравнить попап с макетом, то он не сходится в пикселях, но если посмотреть со стороны пользователя, то визуально код ошибки с таким размером приятнее видеть и читать*/