.popup-photo__cross {
    background-image: url(../../../images/popup/CloseIcon.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    z-index: 1;
    opacity: 1;
    transition: 1s;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup-photo__cross:hover {
    opacity: 0.6;
    transition: 1s;
}

@media (max-width: 500px) {
    .popup-photo__cross {
        width: 20px;
        height: 20px;
        top: -32px;
        right: 0;
    }
}