.popup__form-input {
    width: 358px;
    border: 0;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
    align-self: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
}


/*
.popup__form-input:invalid {
    border-bottom: rgba(255, 0, 0, 1) solid 1px;
    //красная рамка для некорректных данных 
}

.popup__form-input:valid {
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
}
*/

@media (max-width: 500px) {
    .popup__form-input {
        width: 238px;
        margin-bottom: 5px;
        padding-bottom: 9px;
    }
}