.gallery-element_item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    color: #000;
    justify-content: space-between;
    align-items: center;
}