.profile__button {
    border: #fff solid 2px;
    background-image: url(../../../images/profile/cross_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    opacity: 1;
    transition: 1s;
    width: 150px;
    height: 50px;
    padding: 0;
    cursor: pointer;
}

.profile__button:hover {
    opacity: 0.6;
    transition: 1s;
}

@media (max-width: 750px) {
    .profile__button {
        margin: 0 auto;
        box-sizing: content-box;
        width: 16px;
        height: 16px;
        justify-self: center;
        padding: 15px 131px;
        border-radius: 2px;
    }
}